*{
    padding: 0;
    margin: 0;
    font-family: Arial,  sans-serif;
}
.header{
    background-color: #111;
    color: white;
    padding :100px 20px;
    text-align: center;
    position: relative;
}
.header h1{
    margin:0;
    font-size: 36px;
    color: grey;
}
.header p{
    font-size: 25px;
    margin: 10px 0 20px;
}
.header pre{
    font-size: 18px;
    margin: 10px 0 20px;
}
.header .resume{
    background-color: #ff3366;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
}
.about {
    background-color: #fff;
    padding:60px 20px;
    text-align: center;
}
.about img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.about h2{
    font-size: 28px;
    color: #ff3366;
    margin-bottom: 20px;
}
.about pre{
    font-size: 16px;
    margin: 0 auto;
    max-width: 600px;
   line-height: 1.6;
   text-transform: capitalize;
}
.social-icons{
    margin-top: 20px;
}
.social-icons a{
    color: #111;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: blueviolet;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(88, 8, 8, 0.25), 0 10px 10px rgba(204, 2, 2, 0.22);
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 12),0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);

}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 70%;
    animation: css 3s;
}

.Javascript{
    width: 60%;
    animation: Javascript 3s;
}
.Java{
    width: 80%;
    animation: Java 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes Javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes Java{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.projects {
    text-align: center;
    justify-content: center;
    background-color: grey;
    align-items: center;
}
.l a{
     padding: 20px; 
      /* margin: 30px;  */
     text-decoration: none;
     text-align: center;
     display: flex;
     justify-content: center;
     color: #fff;
}
.projects pre{
    font-style: italic;
    border: 3px solid black;
    height: 120px;
    
}
.projects h2{
    font-size: 39px;
}
.projects a{
    font-size: 29px;
    font-style: italic;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
   
}
.footer-content{
    font-size: 14px;
}
